# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.log

# ---- Virtualenv ----
.env
.venv
env/
venv/
ENV/

# ---- FastAPI / Pydantic ----
*.db
*.sqlite3

# ---- Docker ----
.docker/
docker-compose.override.yml
*~ 
*.pid

# ---- VSCode  ----
.vscode/